In [1]:
#Dependencies and Setup
from pathlib import Path
import pandas as pd
#import requests
#import warnings
#import json
#from pprint import pprint
#warnings.filterwarnings('ignore')
# Import the ABS Census API
#from config import Census_key

In [ ]:
#url = 'https://api.data.abs.gov.au/data/ABS,C21_G17_POA,1.0.0/3.....8+7+6+5+4+3+2+1?startPeriod=2021&detail=dataonly&dimensionAtObservation=AllDimensions&format=jsondata'
#headers = {'x-api-key': 'Census_key'}

In [ ]:
#Make get request
#response = requests.get(url, headers = headers)
#check to see if successful
#if response.status_code == 200:
    #parse the json response
#    data = response.json()
    #pprint (data)
    #Extract the observations from the dataset
#    data_sets = data.get('data', {}).get('dataSets', [])
#    if data_sets:
#        first_ds = data_sets[0]
#        obs_data = first_ds.get('observations', {})
#        try:
#            df = pd.DataFrame(obs_data)
#            df.to_csv('A1_copy.csv', index=False)
#        except Exception as e:
#            print(f'Error message: {e}')
#    else:
#        print('no datasets found')
#else:
#    print(f'API request failed {response.status_code}')

In [2]:
#define the path for reading files
ABS_data = Path('Resources/A1_copy.csv')
#read in csv to datafile
obs_df = pd.read_csv(ABS_data)
#remove the extra columns using column indices
columns_to_keep_indices = [2,3,4,6,8]
obs_df = obs_df.iloc[:, columns_to_keep_indices]
#remove extra values in columns using indices, note only first 5 columns need cleaning
columns_to_clean = obs_df.columns[:4]
# Apply the split operation to the specified columns
obs_df[columns_to_clean] = obs_df[columns_to_clean].apply(lambda x: x.apply(lambda y: str(y).split(':')[1]))
# Apply new column names
Col_names = ['Total personal income (weekly)', 'Age', 'Postcode', 'State', 'Population']
obs_df.columns = Col_names

# Save the modified DataFrame back to a new CSV file 
obs_df.to_csv('Resources/C_obs_clean.csv', index=False)
obs_df.head()

,Total personal income (weekly),Age,Postcode,State,Population
0,"$1,750-$1,999",55-64 years,3856,Victoria,10
1,"$3,000-$3499",15-19 years,3150,Victoria,0
2,"$2,000-$2,999",45-54 years,3196,Victoria,578
3,"$1,750-$1,999",85 years and over,3249,Victoria,0
4,"$3,000-$3499",Total,3312,Victoria,13